<% content_for :title, "Edit #{@recipe.name}" %>

<h1>Editing Recipe</h1>

<div class="actions">
<%= render 'form' %><%= button_to 'Destroy Recipe', @recipe, method: :delete, data: { confirm: "Are you sure? There is no going back!" }, class: "button-cancel" %>
</div>
