<% if @results.present? %>

<% @results.each do |result| %>
<div class="juice-container">
  <h3><%= link_to result.name, result %></h3>
  <p><%= result.body %></p>
</div>

<% end %>

<% else %>

<p>"Oh snap, no Juice recipes we're found."</p>


<p>Do you have a great Juice recipe Idea? Why not share it with your fellow Juicers?</p>

<%= button_to "Create Recipe", new_recipe_path, class: "button-default", method: :get %>

<% end %>
