<% if @results.present? %>

<% @results.each do |result| %>
<div class="juice-container">
  <h3><%= result.name %></h3>
  <p>A subtle brew of carrots, beets, jicama, and ginger.</p>
</div>

<% end %>

<% else %>

<p>"Oh snap, no Juice recipes we're found."</p>


<p>Do you have a great Juice recipe Idea? Why not share it with your fellow Juicers?</p>

<%= link_to "Create Recipe", new_recipe_path %>

<% end %>
