<% content_for :title, "Find New Ingredients" %>

<h2>Find New Ingredients</h2>

<div class="fields">
  <%= form_tag(new_ingredient_path, method: :get, remote: true ) do %>
  <%= text_field_tag :keyword, nil, placeholder: "Find More Ingredients..." %>
  <%= submit_tag "Find Ingredients", class: "button-default", id: "ingredient-search" %>
  <% end %>
</div>

<div class="results"></div>

<%= link_to 'Back', ingredients_path %>
