<% content_for :title, "Our Story" %>
<h1>Sample Heading</h1>

<p>About Us...</p>

<% if current_user.full_user? %>

<%= button_to "Sign Out", destroy_user_session_path, class: "button-default", method: :delete  %>

<% end %>

<% if current_user.needs_engagement? %>

Howdy Friend,

It looks like you sure are enjoying this app, why not become a full memeber and reap all the benefits?

<%= button_to "Sign Up", new_user_registration_path, class: "button-default", method: :get %>

<% end %>

<h2>Build Juice Recipes</h2>
<p>Here's how it works... </p>
