<% content_for :title, "Our Story" %>
<h1>Get Inspired... Get Juicing!</h1>
<p>Ever wanted to know the <strong>Nutrition Facts</strong> of your homemade juice concoction? Well now you can...</p>
<h2>Choose your Ingredients, we do the Rest</h2>
<p>Here's how it works. Click on the "Build Juice" button, choose your ingredients, then click "analyze". Our platform will do the rest to give you a full analysis of your unique beverage.</p>
<h3>You gotta give it a Name</h3>
<p>Every juice deserves a good name. We force you, against your will, to give every juice a unique name.</p>
