<% content_for :title, "Analyze the Nutrition Content of your Juice" %>

<h1>Juice Sherpa Homepage</h1>
<p>Welcome to JuiceSherpa.com. Your destination for inspiring Juice recipies.</p>

<%= render 'layouts/feed' %>
