<h1>Juice Sherpa Homepage</h1>
<p>Welcome to JuiceSherpa.com. Your destination for inspiring Juice recipies.</p>

<h2>Popular Juices</h2>
<%= button_tag "Hello Juice!", class: "button-default" %>

<p>Juice Feed...</p>

<div class="juice-container">
  <h3>Jeff's Juice</h3>
    <p>A subtle brew of carrots, beets, jicama, and ginger.</p>
</div>

<div class="juice-container">
  <h3>Jeff's Juice</h3>
  <p>A subtle brew of carrots, beets, jicama, and ginger.</p>
</div>

<div class="juice-container">
  <h3>Jeff's Juice</h3>
  <p>A subtle brew of carrots, beets, jicama, and ginger.</p>
</div>

<h2>Create Your Own</h2>
<button type="commit" class="button-default"><span class=button-icon>( </span>Analyze my Juice</button>

<button>My Other Button</button>
