.juice-container {
  width: 25%;
  display: inline-block;
  border: thin dashed #FEACAC;
  padding: 2%;
  margin: 1%;
  min-width: 200px;
  max-width: 500px;

  h3{

  }

  p{

  }
}

.ingredient-container{

}
