footer {
  bottom: 0;
  width:100%;
  height: 20%;
  background-color: #19262b;
  color: #fff;
  font-size: 75%;
  display: inline-block;

  a {
    color: #fff;
    text-decoration: none;

    &:hover{
      color: green;
      border-bottom: thin dashed #7ED321;
    }

    &:visited {
      color: #fff;
    }
  }
}

.footer-content {
  margin: 5% auto 5% auto;
  text-align: center;
  display: block;
  width: auto;
}
