$bg-color-light: #fff;
$bg-color-dark: #333;
$text-color: #333;

@font-face {
  font-family: headingFont;
  src: asset-url('Ubuntu-M.ttf');
}

@font-face {
  font-family: headingLight;
  src: asset-url('Ubuntu-L.ttf');
}

@font-face {
  font-family: bodyFont;
  src: asset-url('DroidSerif.ttf');
}

@font-face {
  font-family: iconFont;
  src: asset-url('modernpics.otf');
}

@font-face {
  font-family: sansFont;
  src: asset-url('DroidSans.ttf');
}

@font-face {
  font-family: headingAlternate;
  src: asset-url('NEORF___.ttf');
}


html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: bodyFont;
  font-size: 100%;
}

h1 {
  font-size: 2.5em;
  font-family: headingFont;
}

h2 {
  font-size: 1.875em;
  font-family: headingFont;
}

p {
  font-size: 0.875em;
  font-family: bodyFont;
}

a {
  color: $text-color;
  text-decoration: none;

  &:hover{
    border-bottom: thin dashed #B8E986;
  }

  &:active{

  }

  &:visited{
    color: $text-color;
    text-decoration: none;
  }


}

.field {
  margin: 4%;

  input{
    font-size: 125%;
    outline: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: thin dashed;
    width: 50%;
  }

  textarea {
    font-size: 125%;
    outline: none;
    border: thin dashed;
    width: 50%;
    height: 150px;
  }
}

.actions {
  margin: 4%;
}

.notice{
  color: "blue";
}

.alert{
  color: "red";
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.inline-icon {
  font-family: iconFont;
  font-size: 125%;
  text-transform: none !important;
  color: $text-color;
}
