<table id="item-table">
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Description</th>
      <th>Calories</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @results.present? %>
    <span><% @results.map do |i| %></span>
    <tr>
      <td><%= i["fields"]["item_name"] %></td>
      <td><%= i["fields"]["item_description"] %></td>
      <td><%= i["fields"]["nf_calories"] %></td>
      <td><%= link_to "Add Ingredient", { action: :create, ingredient: { name: i["fields"]["item_name"], item_id: i["fields"]["item_id"] } }, method: :post %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
